.sort-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    i {
        cursor: pointer;
        margin: 0 2px;
    }
}

ReactPaginate {}

.pagination {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}